<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css">

<h2>
    <h3 th:text="${question.id}"></h3>
    <div th:text="${question.subject}"></div>
    <div th:text="${question.content}"></div>
</h2>

<h5 th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
<div>
    <ul>
        <li th:each="answer : ${question.answerList}" th:text="${answer.content}"></li>
    </ul>
</div>

<form th:action="@{|/answer/create/${question.id}|}" method="post">
    <div>
        <span>내용</span>
        <br>
        <textarea placeholder="내용" name="content" rows="15"></textarea>
    </div>
    <button type="submit">답변등록</button>
</form>